.hero {
    display: flex;
    background-color: green;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

@font-face {
    font-family: open-sans;
    src: url(/fonts/OpenSans-VariableFont_wdth\,wght.ttf) format(truetype);
}